{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/comparison.css') }}">
{% endblock head %}

{% block body %}



    <div style = "display: flex; justify-content: center">
        <label id="pred_label" >pred: </label>
        <label id="pred_txt" > 0 </label>
    </div>
    <br>
    <br>
    <div class="comparison-2 "  >
        <div class="content">

            <br>

            <div >
                <img id="pred_img" src="{{ url_for('static', filename='default.png') }}" alt="density map">
            </div>
        </div>
    </div>



{% endblock body %}
